.App--header {
  display: flex;
  padding: 0 5em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App--menu {
  justify-content: center;
}

.App--footer {
  text-align: center;
  font-size: 0.8em;
  padding: 2em 0;
  color: #0d0d0d;
}